
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('admin.index.title', scope: 'decidim.direct_verifications.verification') %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t('decidim.direct_verifications.verification.admin.new.info') %></p>
    <%= form_tag direct_verifications_path, multipart: true, class: 'form' do %>
      <%= label_tag :userlist, t('admin.new.textarea', scope: 'decidim.direct_verifications.verification') %>
      <%= text_area_tag :userlist, @userlist, rows: 10 %>
	  	<label for="register">
	  		<%= check_box_tag :register %>
	  		<%= t('admin.new.register', scope: 'decidim.direct_verifications.verification') %>
			</label>
	  	<label for="authorize">
	  		<%= check_box_tag :authorize %>
      	<%= t('admin.new.authorize', scope: 'decidim.direct_verifications.verification') %>
      </label>

      <%= label_tag :userlist, t('admin.new.authorization_handler', scope: 'decidim.direct_verifications.verification') %>
      <%= select_tag :authorization_handler, options_for_select(current_organization.available_authorizations.map { |a|
        [t("#{a}.name", scope: "decidim.authorization_handlers"), a]
        }, :direct_verifications) %>

      <%= submit_tag t('admin.new.submit', scope: 'decidim.direct_verifications.verification'), class: 'button' %>

    <% end %>

  </div>
</div>

