<% add_decidim_page_title(t("admin.index.title", scope: "decidim.direct_verifications.verification")) %>

<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t("admin.index.title", scope: "decidim.direct_verifications.verification") %>
      <%= link_to t("admin.index.stats", scope: "decidim.direct_verifications.verification"), stats_path, class: "button button__sm button__secondary" %>
      <%= link_to t("admin.index.authorizations", scope: "decidim.direct_verifications.verification"), authorizations_path, class: "button button__sm button__secondary" %>
    </h2>
  </div>
  <div class="card-section">
    <div class="card pt-4">
      <div class="row column">
        <p><%= t("decidim.direct_verifications.verification.admin.imports.new.info") %></p>
        <pre class="code-block mt-4">
<strong>email, name, membership_phone, membership_type, membership_weight</strong>
ava@example.com, Ava Hawkins, +3476318371, consumer, 1
ewan@example.com, Ewan Cooper, +34653565765, worker, 1
tilly@example.com, Tilly Jones, +34653565761, collaborator, 0.67
...
        </pre>
      </div>
    </div>
  </div>
  <div class="card-section">
    <%= decidim_form_for(@form, url: imports_path, html: { class: "form form-defaults" }) do |form| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <div class="row column">
              <label>
                <%= check_box_tag :register %>
                <%= t("admin.new.register", scope: "decidim.direct_verifications.verification") %>
                <div data-alert class="callout alert hide">
                  <%= t("admin.direct_verifications.gdpr_disclaimer", scope: "decidim.direct_verifications.verification") %>
                </div>
              </label>
            </div>
            <div class="row">
              <label>
                <%= radio_button_tag :authorize, "in" %>
                <%= t("admin.new.authorize", scope: "decidim.direct_verifications.verification") %>
              </label>
            </div>
            <div class="row">
              <label>
                <%= radio_button_tag :authorize, "out" %>
                <%= t("admin.new.revoke", scope: "decidim.direct_verifications.verification") %>
              </label>
            </div>
            <div class="row column">
              <label>
                <%= radio_button_tag :authorize, "check", true %>
                <%= t("admin.new.check", scope: "decidim.direct_verifications.verification") %>
              </label>
            </div>
            <div class="row column">
              <%= label_tag :authorization_handler, t("admin.new.authorization_handler", scope: "decidim.direct_verifications.verification") %>
              <%= select_tag :authorization_handler, options_for_select(workflows, current_authorization_handler) %>
            </div>
            <div class="row column">
              <%= form.file_field :file, label: t(".file") %>
            </div>
          </div>
        </div>
      </div>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= form.submit t(".submit"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<%= append_javascript_pack_tag "decidim_direct_verifications" %>
