<%= stylesheet_link_tag "decidim/direct_verifications/authorizations" %>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('.title') %>
      <%= link_to t(".new_import"), direct_verifications_path, class: "button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t('.name') %></th>
            <th><%= t('.metadata') %></th>
            <th><%= t('.user_name') %></th>
            <th><%= t('.created_at') %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @authorizations.each do |authorization| %>
            <tr data-authorization-id="<%= authorization.id %>">
              <td><%= authorization.name %></td>
              <td class="metadata">
                <span class="code"><%= authorization.metadata %></span>
              </td>
              <td><%= authorization.user.name %></td>
              <td><%= authorization.created_at %></td>

              <td class="table-list__actions">
                <%= icon_link_to "circle-x", authorization_path(authorization), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
