<%= append_stylesheet_pack_tag "decidim_direct_verifications" %>

<% add_decidim_page_title(t(".title")) %>

<div class="card">
  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= t(".title") %>
      <%= link_to t("admin.index.stats", scope: "decidim.direct_verifications.verification"), stats_path, class: "button button__sm button__secondary" %>
      <%= link_to t(".new_import"), direct_verifications_path, class: "button button__sm button__secondary" %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t(".name") %></th>
            <th><%= t(".metadata") %></th>
            <th><%= t(".user_name") %></th>
            <th><%= t(".created_at") %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @authorizations.each do |authorization| %>
            <tr data-authorization-id="<%= authorization.id %>">
              <td><%= authorization.name %></td>
              <td class="metadata">
                <span class="code"><%= authorization.metadata %></span>
              </td>
              <td><%= authorization.user.name %></td>
              <td><%= authorization.created_at %></td>

              <td class="table-list__actions">
                <%= icon_link_to "delete-bin-line", authorization_path(authorization), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @authorizations, theme: "decidim" %>
    </div>
  </div>
</div>
